body {
  .ant-popover-inner-content,
  .ant-notification-notice,
  .ant-modal-content,
  .ant-message-notice-content,
  .ant-alert,
  .ant-tooltip-inner,
  .ant-tag,
  .ant-card,
  .ant-transfer-list,
  .ant-btn,
  .ant-input,
  .ant-select {
    border-radius: 0.25rem;
    &.ant-modal-content,
    &.ant-transfer-list {
      overflow: hidden;
    }
  }
  .ant-btn-link {
    padding: 0;
  }

  .ant-pagination-options .ant-pagination-options-size-changer {
    width: 100px;
  }

  .ant-tabs-content {
    height: 100%;
  }
}

.ant-menu-vertical {
  border-radius: 0.25rem;
}

.ant-modal-confirm-title {
  margin-bottom: 1rem;
}

.ant-modal-confirm-body .ant-modal-confirm-title {
  font-size: 18px;
}

.confirmModal {
  .ant-modal-confirm-btns {
    display: none;
  }
}
.confirmModal,
.contentModal {
  .ant-modal-confirm-content {
    margin: 0 !important;
  }
}
